In [1]:
import pandas as pd

In [3]:
train = pd.read_csv('sber_train.csv')
train.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [5]:
test = pd.read_csv('sber_test.csv')
test.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,...,8,0,0,0,1,10,1,0,14,1
1,30475,2015-07-01,79.2,NaN,8,17,1,0.0,3,1.0,...,4,1,1,0,2,11,0,1,12,1
2,30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,...,42,11,4,0,10,21,0,10,71,11
3,30477,2015-07-01,62.8,36.0,17,17,1,2016.0,2,62.8,...,1,1,2,0,0,10,0,0,2,0
4,30478,2015-07-01,40.0,40.0,17,17,1,0.0,1,1.0,...,5,1,1,0,2,12,0,1,11,1

In [12]:
train.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 292 columns):
 #    Column                                 Non-Null Count  Dtype
---   ------                                 --------------  -----
 0    id                                     30471 non-null  int64
 1    timestamp                              30471 non-null  object
 2    full_sq                                30471 non-null  int64
 3    life_sq                                24088 non-null  float64
 4    floor                                  30304 non-null  float64
 5    max_floor                              20899 non-null  float64
 6    material                               20899 non-null  float64
 7    build_year                             16866 non-null  float64
 8    num_room                               20899 non-null  float64
 9    kitch_sq                               20899 non-null  float64
 10   state                                  16912 non-null  float64
 11   product_type                           30471 non-null  object
 12   sub_area                               30471 non-null  object
 13   area_m                                 30471 non-null  float64
 14   raion_popul                            30471 non-null  int64
 15   green_zone_part                        30471 non-null  float64
 16   indust_part                            30471 non-null  float64
 17   children_preschool                     30471 non-null  int64
 18   preschool_quota                        23783 non-null  float64
 19   preschool_education_centers_raion      30471 non-null  int64
 20   children_school                        30471 non-null  int64
 21   school_quota                           23786 non-null  float64
 22   school_education_centers_raion         30471 non-null  int64
 23   school_education_centers_top_20_raion  30471 non-null  int64
 24   hospital_beds_raion                    16030 non-null  float64
 25   healthcare_centers_raion               30471 non-null  int64
 26   university_top_20_raion                30471 non-null  int64
 27   sport_objects_raion                    30471 non-null  int64
 28   additional_education_raion             30471 non-null  int64
 29   culture_objects_top_25                 30471 non-null  object
 30   culture_objects_top_25_raion           30471 non-null  int64
 31   shopping_centers_raion                 30471 non-null  int64
 32   office_raion                           30471 non-null  int64
 33   thermal_power_plant_raion              30471 non-null  object
 34   incineration_raion                     30471 non-null  object
 35   oil_chemistry_raion                    30471 non-null  object
 36   radiation_raion                        30471 non-null  object
 37   railroad_terminal_raion                30471 non-null  object
 38   big_market_raion                       30471 non-null  object
 39   nuclear_reactor_raion                  30471 non-null  object
 40   detention_facility_raion               30471 non-null  object
 41   full_all                               30471 non-null  int64
 42   male_f                                 30471 non-null  int64
 43   female_f                               30471 non-null  int64
 44   young_all                              30471 non-null  int64
 45   young_male                             30471 non-null  int64
 46   young_female                           30471 non-null  int64
 47   work_all                               30471 non-null  int64
 48   work_male                              30471 non-null  int64
 49   work_female                            30471 non-null  int64
 50   ekder_all                              30471 non-null  int64
 51   ekder_male                             30471 non-null  int64
 52   ekder_female                           30471 non-null  int64
 53   0_6_all                                30471 non-null  int64
 54   0_6_male                               30471 non-null  int64
 55   0_6_female                             30471 non-null  int64
 56   7_14_all                               30471 non-null  int64
 57   7_14_male                              30471 non-null  int64
 58   7_14_female                            30471 non-null  int64
 59   0_17_all                               30471 non-null  int64
 60   0_17_male                              30471 non-null  int64
 61   0_17_female                            30471 non-null  int64
 62   16_29_all                              30471 non-null  int64
 63   16_29_male                             30471 non-null  int64
 64   16_29_female                           30471 non-null  int64
 65   0_13_all                               30471 non-null  int64
 66   0_13_male                              30471 non-null  int64
 67   0_13_female                            30471 non-null  int64
 68   raion_build_count_with_material_info   25480 non-null  float64
 69   build_count_block                      25480 non-null  float64
 70   build_count_wood                       25480 non-null  float64
 71   build_count_frame                      25480 non-null  float64
 72   build_count_brick                      25480 non-null  float64
 73   build_count_monolith                   25480 non-null  float64
 74   build_count_panel                      25480 non-null  float64
 75   build_count_foam                       25480 non-null  float64
 76   build_count_slag                       25480 non-null  float64
 77   build_count_mix                        25480 non-null  float64
 78   raion_build_count_with_builddate_info  25480 non-null  float64
 79   build_count_before_1920                25480 non-null  float64
 80   build_count_1921-1945                  25480 non-null  float64
 81   build_count_1946-1970                  25480 non-null  float64
 82   build_count_1971-1995                  25480 non-null  float64
 83   build_count_after_1995                 25480 non-null  float64
 84   ID_metro                               30471 non-null  int64
 85   metro_min_avto                         30471 non-null  float64
 86   metro_km_avto                          30471 non-null  float64
 87   metro_min_walk                         30446 non-null  float64
 88   metro_km_walk                          30446 non-null  float64
 89   kindergarten_km                        30471 non-null  float64
 90   school_km                              30471 non-null  float64
 91   park_km                                30471 non-null  float64
 92   green_zone_km                          30471 non-null  float64
 93   industrial_km                          30471 non-null  float64
 94   water_treatment_km                     30471 non-null  float64
 95   cemetery_km                            30471 non-null  float64
 96   incineration_km                        30471 non-null  float64
 97   railroad_station_walk_km               30446 non-null  float64
 98   railroad_station_walk_min              30446 non-null  float64
 99   ID_railroad_station_walk               30446 non-null  float64
 100  railroad_station_avto_km               30471 non-null  float64
 101  railroad_station_avto_min              30471 non-null  float64
 102  ID_railroad_station_avto               30471 non-null  int64
 103  public_transport_station_km            30471 non-null  float64
 104  public_transport_station_min_walk      30471 non-null  float64
 105  water_km                               30471 non-null  float64
 106  water_1line                            30471 non-null  object
 107  mkad_km                                30471 non-null  float64
 108  ttk_km                                 30471 non-null  float64
 109  sadovoe_km                             30471 non-null  float64
 110  bulvar_ring_km                         30471 non-null  float64
 111  kremlin_km                             30471 non-null  float64
 112  big_road1_km                           30471 non-null  float64
 113  ID_big_road1                           30471 non-null  int64
 114  big_road1_1line                        30471 non-null  object
 115  big_road2_km                           30471 non-null  float64
 116  ID_big_road2                           30471 non-null  int64
 117  railroad_km                            30471 non-null  float64
 118  railroad_1line                         30471 non-null  object
 119  zd_vokzaly_avto_km                     30471 non-null  float64
 120  ID_railroad_terminal                   30471 non-null  int64
 121  bus_terminal_avto_km                   30471 non-null  float64
 122  ID_bus_terminal                        30471 non-null  int64
 123  oil_chemistry_km                       30471 non-null  float64
 124  nuclear_reactor_km                     30471 non-null  float64
 125  radiation_km                           30471 non-null  float64
 126  power_transmission_line_km             30471 non-null  float64
 127  thermal_power_plant_km                 30471 non-null  float64
 128  ts_km                                  30471 non-null  float64
 129  big_market_km                          30471 non-null  float64
 130  market_shop_km                         30471 non-null  float64
 131  fitness_km                             30471 non-null  float64
 132  swim_pool_km                           30471 non-null  float64
 133  ice_rink_km                            30471 non-null  float64
 134  stadium_km                             30471 non-null  float64
 135  basketball_km                          30471 non-null  float64
 136  hospice_morgue_km                      30471 non-null  float64
 137  detention_facility_km                  30471 non-null  float64
 138  public_healthcare_km                   30471 non-null  float64
 139  university_km                          30471 non-null  float64
 140  workplaces_km                          30471 non-null  float64
 141  shopping_centers_km                    30471 non-null  float64
 142  office_km                              30471 non-null  float64
 143  additional_education_km                30471 non-null  float64
 144  preschool_km                           30471 non-null  float64
 145  big_church_km                          30471 non-null  float64
 146  church_synagogue_km                    30471 non-null  float64
 147  mosque_km                              30471 non-null  float64
 148  theater_km                             30471 non-null  float64
 149  museum_km                              30471 non-null  float64
 150  exhibition_km                          30471 non-null  float64
 151  catering_km                            30471 non-null  float64
 152  ecology                                30471 non-null  object
 153  green_part_500                         30471 non-null  float64
 154  prom_part_500                          30471 non-null  float64
 155  office_count_500                       30471 non-null  int64
 156  office_sqm_500                         30471 non-null  int64
 157  trc_count_500                          30471 non-null  int64
 158  trc_sqm_500                            30471 non-null  int64
 159  cafe_count_500                         30471 non-null  int64
 160  cafe_sum_500_min_price_avg             17190 non-null  float64
 161  cafe_sum_500_max_price_avg             17190 non-null  float64
 162  cafe_avg_price_500                     17190 non-null  float64
 163  cafe_count_500_na_price                30471 non-null  int64
 164  cafe_count_500_price_500               30471 non-null  int64
 165  cafe_count_500_price_1000              30471 non-null  int64
 166  cafe_count_500_price_1500              30471 non-null  int64
 167  cafe_count_500_price_2500              30471 non-null  int64
 168  cafe_count_500_price_4000              30471 non-null  int64
 169  cafe_count_500_price_high              30471 non-null  int64
 170  big_church_count_500                   30471 non-null  int64
 171  church_count_500                       30471 non-null  int64
 172  mosque_count_500                       30471 non-null  int64
 173  leisure_count_500                      30471 non-null  int64
 174  sport_count_500                        30471 non-null  int64
 175  market_count_500                       30471 non-null  int64
 176  green_part_1000                        30471 non-null  float64
 177  prom_part_1000                         30471 non-null  float64
 178  office_count_1000                      30471 non-null  int64
 179  office_sqm_1000                        30471 non-null  int64
 180  trc_count_1000                         30471 non-null  int64
 181  trc_sqm_1000                           30471 non-null  int64
 182  cafe_count_1000                        30471 non-null  int64
 183  cafe_sum_1000_min_price_avg            23947 non-null  float64
 184  cafe_sum_1000_max_price_avg            23947 non-null  float64
 185  cafe_avg_price_1000                    23947 non-null  float64
 186  cafe_count_1000_na_price               30471 non-null  int64
 187  cafe_count_1000_price_500              30471 non-null  int64
 188  cafe_count_1000_price_1000             30471 non-null  int64
 189  cafe_count_1000_price_1500             30471 non-null  int64
 190  cafe_count_1000_price_2500             30471 non-null  int64
 191  cafe_count_1000_price_4000             30471 non-null  int64
 192  cafe_count_1000_price_high             30471 non-null  int64
 193  big_church_count_1000                  30471 non-null  int64
 194  church_count_1000                      30471 non-null  int64
 195  mosque_count_1000                      30471 non-null  int64
 196  leisure_count_1000                     30471 non-null  int64
 197  sport_count_1000                       30471 non-null  int64
 198  market_count_1000                      30471 non-null  int64
 199  green_part_1500                        30471 non-null  float64
 200  prom_part_1500                         30471 non-null  float64
 201  office_count_1500                      30471 non-null  int64
 202  office_sqm_1500                        30471 non-null  int64
 203  trc_count_1500                         30471 non-null  int64
 204  trc_sqm_1500                           30471 non-null  int64
 205  cafe_count_1500                        30471 non-null  int64
 206  cafe_sum_1500_min_price_avg            26272 non-null  float64
 207  cafe_sum_1500_max_price_avg            26272 non-null  float64
 208  cafe_avg_price_1500                    26272 non-null  float64
 209  cafe_count_1500_na_price               30471 non-null  int64
 210  cafe_count_1500_price_500              30471 non-null  int64
 211  cafe_count_1500_price_1000             30471 non-null  int64
 212  cafe_count_1500_price_1500             30471 non-null  int64
 213  cafe_count_1500_price_2500             30471 non-null  int64
 214  cafe_count_1500_price_4000             30471 non-null  int64
 215  cafe_count_1500_price_high             30471 non-null  int64
 216  big_church_count_1500                  30471 non-null  int64
 217  church_count_1500                      30471 non-null  int64
 218  mosque_count_1500                      30471 non-null  int64
 219  leisure_count_1500                     30471 non-null  int64
 220  sport_count_1500                       30471 non-null  int64
 221  market_count_1500                      30471 non-null  int64
 222  green_part_2000                        30471 non-null  float64
 223  prom_part_2000                         30471 non-null  float64
 224  office_count_2000                      30471 non-null  int64
 225  office_sqm_2000                        30471 non-null  int64
 226  trc_count_2000                         30471 non-null  int64
 227  trc_sqm_2000                           30471 non-null  int64
 228  cafe_count_2000                        30471 non-null  int64
 229  cafe_sum_2000_min_price_avg            28746 non-null  float64
 230  cafe_sum_2000_max_price_avg            28746 non-null  float64
 231  cafe_avg_price_2000                    28746 non-null  float64
 232  cafe_count_2000_na_price               30471 non-null  int64
 233  cafe_count_2000_price_500              30471 non-null  int64
 234  cafe_count_2000_price_1000             30471 non-null  int64
 235  cafe_count_2000_price_1500             30471 non-null  int64
 236  cafe_count_2000_price_2500             30471 non-null  int64
 237  cafe_count_2000_price_4000             30471 non-null  int64
 238  cafe_count_2000_price_high             30471 non-null  int64
 239  big_church_count_2000                  30471 non-null  int64
 240  church_count_2000                      30471 non-null  int64
 241  mosque_count_2000                      30471 non-null  int64
 242  leisure_count_2000                     30471 non-null  int64
 243  sport_count_2000                       30471 non-null  int64
 244  market_count_2000                      30471 non-null  int64
 245  green_part_3000                        30471 non-null  float64
 246  prom_part_3000                         30471 non-null  float64
 247  office_count_3000                      30471 non-null  int64
 248  office_sqm_3000                        30471 non-null  int64
 249  trc_count_3000                         30471 non-null  int64
 250  trc_sqm_3000                           30471 non-null  int64
 251  cafe_count_3000                        30471 non-null  int64
 252  cafe_sum_3000_min_price_avg            29480 non-null  float64
 253  cafe_sum_3000_max_price_avg            29480 non-null  float64
 254  cafe_avg_price_3000                    29480 non-null  float64
 255  cafe_count_3000_na_price               30471 non-null  int64
 256  cafe_count_3000_price_500              30471 non-null  int64
 257  cafe_count_3000_price_1000             30471 non-null  int64
 258  cafe_count_3000_price_1500             30471 non-null  int64
 259  cafe_count_3000_price_2500             30471 non-null  int64
 260  cafe_count_3000_price_4000             30471 non-null  int64
 261  cafe_count_3000_price_high             30471 non-null  int64
 262  big_church_count_3000                  30471 non-null  int64
 263  church_count_3000                      30471 non-null  int64
 264  mosque_count_3000                      30471 non-null  int64
 265  leisure_count_3000                     30471 non-null  int64
 266  sport_count_3000                       30471 non-null  int64
 267  market_count_3000                      30471 non-null  int64
 268  green_part_5000                        30471 non-null  float64
 269  prom_part_5000                         30293 non-null  float64
 270  office_count_5000                      30471 non-null  int64
 271  office_sqm_5000                        30471 non-null  int64
 272  trc_count_5000                         30471 non-null  int64
 273  trc_sqm_5000                           30471 non-null  int64
 274  cafe_count_5000                        30471 non-null  int64
 275  cafe_sum_5000_min_price_avg            30174 non-null  float64
 276  cafe_sum_5000_max_price_avg            30174 non-null  float64
 277  cafe_avg_price_5000                    30174 non-null  float64
 278  cafe_count_5000_na_price               30471 non-null  int64
 279  cafe_count_5000_price_500              30471 non-null  int64
 280  cafe_count_5000_price_1000             30471 non-null  int64
 281  cafe_count_5000_price_1500             30471 non-null  int64
 282  cafe_count_5000_price_2500             30471 non-null  int64
 283  cafe_count_5000_price_4000             30471 non-null  int64
 284  cafe_count_5000_price_high             30471 non-null  int64
 285  big_church_count_5000                  30471 non-null  int64
 286  church_count_5000                      30471 non-null  int64
 287  mosque_count_5000                      30471 non-null  int64
 288  leisure_count_5000                     30471 non-null  int64
 289  sport_count_5000                       30471 non-null  int64
 290  market_count_5000                      30471 non-null  int64

/var/folders/mh/7pw9bt550yzckllnzm5vbjp00000gn/T/ipykernel_3656/4210896984.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  train.info(verbose=True, null_counts=True)

In [16]:
len(train.columns[train.isna().any()].tolist())

51